body{
    text-align: center;
    margin: auto;
    background-color:red ;
}

h1{
    margin:auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    letter-spacing: 0px;
}

p{
    margin: 30px auto 30px;
    padding-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;   
}

title{color: black;
    font-size:xx-large;
    font-style: inherit;

}